@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");
@import "tailwindcss";

@custom-variant default-hover (&:hover);

:root {
  background: linear-gradient(to right, #040909, #040909);
}

/* Font Variables */
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", serif;
}

/* Fix Horizontal Overflow Issue */
* {
  max-width: 100vw; /* Prevents content from exceeding screen */
  box-sizing: border-box; /* Ensures padding/margin don't increase width */
}

html, body {
  width: 100%;
  max-width: 100vw; /* Prevents any element from causing overflow */
  background-color: #000;
  color: #fff;
  overflow-x: hidden; /* Disable horizontal scrolling */
  overscroll-behavior: none;
  touch-action: pan-y;
  height: 100%;
}

/* Root Container */
#root, .App {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Ensure No Flex Items Cause Overflow */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

/* Keyframe Animations */
.slideUp { animation: slideUp 0.5s ease-out forwards; }
@keyframes slideUp { 0% { transform: translateY(100%); opacity: 0; } 100% { transform: translateY(0); opacity: 1; } }

.slideUp2 { animation: slideUp2 0.5s ease-out forwards; }
@keyframes slideUp2 { 0% { transform: translateY(100%); opacity: 0; } 100% { transform: translateY(-35%);
